<!-- author sri harsha ganja
     ganjash -->
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
    <title>usa map</title>
    <style>
.circle {
border-top-left-radius: 50%;
border-top-right-radius: 50%;
border-bottom-right-radius: 50%;
border-bottom-left-radius: 50%;

}
</style>
  </head>
  <body>
    <div style="background-image: url(file:///home/harsha/Desktop/usamap.png); height: 469px; width: 702px;">
      <div>
        <div class="circle" style="background-color: #ff9966; width: 39px; position: absolute; left: 582px; top: 201px; z-index: 2; height: 39px;"><br>
        </div>
        <div class="circle" style="background-color: #ff9966; width: 39px; position: absolute; left: 540px; top: 201px; z-index: 2; height: 39px;""></div>
        <div class="circle" style="background-color: #ff9966; width: 39px; position: absolute; left: 520px; top: 191px; z-index: 2; height: 39px;"><br>
        </div>
        <div class="circle" style="background-color: rgb(255, 153, 102); width: 39px; position: absolute; left: 103px; top: 417px; z-index: 2; height: 39px;"><br>
        </div>
      </div>
    </div>
  </body>
</html>
