{% extends "polls/welcome.html" %}
{% load staticfiles %}
{% block titlename %}phase1{% endblock %}
{% block content %}
{% csrf_token %}
<div
style="background-image:url({%static 'polls/images/canadamap.png'%}); background-repeat: no-repeat; height: 510px; width: 702px;">
<div class="circle" ondrop="drop(event)" ondragover="allowDrop(event)" id="div01"
style="background-color: rgb(255, 153, 102); width: 33px; position: absolute; left: 201px; top: 336px; z-index: 2; height: 33px; ">
</div>
<div class="circle" ondrop="drop(event)" ondragover="allowDrop(event)" id="div02"
style="background-color: rgb(255, 153, 102); width: 33px; position: absolute; left: 377px; top: 565px; z-index: 2; height: 33px;">
</div>
<div class="circle" ondrop="drop(event)" ondragover="allowDrop(event)" id="div03"
style="background-color: rgb(255, 153, 102); width: 33px; position: absolute; left: 420px; top: 600px; z-index: 2; height: 33px;">
</div>
<div class="circle" ondrop="drop(event)" ondragover="allowDrop(event)" id="div04"
style="background-color: rgb(255, 153, 102); width: 33px; position: absolute; left: 441px; top: 648px; z-index: 2; height: 33px;">
</div>
<div style="z-index: 1; margin-left: 708px; width: 284px;"><br>
<br>
<br>
<table style="text-align: left; width: 284px; height: 422px;" border="0"
cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td
style="vertical-align: top; width: 114px; text-align: center; height: 109px;"><br>
<br>
<div class="circle" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
<img style="width: 35px; height: 35px;" alt=""
src="{% static 'polls/images/1.png' %}" id=1
draggable="true" ondragstart="drag(event)">
</div><br>
</td>
<td
style="vertical-align: top; width: 109px; text-align: left; height: 109px;"><img
style="width: 77px; height: 103px;" alt=""
src="{% static 'polls/images/izs015583.jpg' %}"> <!--  
<img
style="width: 77px; height: 103px;" alt=""
src="{% static 'polls/images/izs015583.jpg' %}"> --></td>
<td
style="vertical-align: top; width: 33px; height: 109px; text-align: center;"><br>
<img style="width: 40px; height: 40px; visibility: hidden"  alt="" id="result1"
src="{% static 'polls/images/right.png' %}"><br>
</td>
</tr>
<tr>
<td
style="vertical-align: top; width: 114px; text-align: center; height: 90px;"><br>
<div class="circle" id="div2" ondrop="drop(event)" ondragover="allowDrop(event)">
<img style="width: 35px; height: 35px;" alt=""
src="{% static 'polls/images/2.png' %}" id=2
draggable="true" ondragstart="drag(event)">
</div>
<br>
</td>
<td style="vertical-align: top; width: 109px; height: 90px;"><img
style="width: 100px; height: 53px;" alt=""
src="{% static 'polls/images/mu67fg.jpg' %}"></td>
<td style="vertical-align: top; width: 33px; height: 90px;"><br>
<img style="width: 40px; height: 40px; visibility: hidden" alt="" id="result2"
src="{% static 'polls/images/right.png' %}"></td>
</tr>
<tr>
<td
style="vertical-align: top; width: 114px; text-align: center; height: 114px;"><br>
<br>
<div class="circle" id="div3" ondrop="drop(event)" ondragover="allowDrop(event)">
<img style="width: 35px; height: 35px;" alt=""
src="{% static 'polls/images/3.png' %}" id=3
draggable="true" ondragstart="drag(event)">
</div>
</td>
<td style="vertical-align: top; width: 109px; height: 114px;"><img
style="width: 103px; height: 110px;" alt=""
src="{% static 'polls/images/ncBXjzb7i.jpg' %}"></td>
<td style="vertical-align: top; width: 33px; height: 114px;"><br>
<br>
<img style="width: 40px; height: 40px; visibility: hidden;" alt="" id="result3"
src="{% static 'polls/images/right.png' %}"><br>
</td>
</tr>
<tr>
<td style="vertical-align: top; width: 114px; text-align: center;"><br>
<div class="circle" id="div4" ondrop="drop(event)" ondragover="allowDrop(event)">
<img style="width: 38px; height: 38px;" alt=""
src="{% static 'polls/images/4.png' %}" id=4
draggable="true" ondragstart="drag(event)">
</div>
<br>
</td>
<td style="vertical-align: top; width: 109px;"><img
style="width: 103px; height: 80px;" alt=""
src="{% static 'polls/images/sdefg.jpg' %}"></td>
<td style="vertical-align: top; width: 33px;"><br>
<img style="width: 40px; height: 40px; visibility: hidden" alt="" id="result4"
src="{% static 'polls/images/right.png' %}"></td>
</tr>
</tbody>
</table>
<br>
</div>

<button class = "btn" style="position: absolute; right: 190px;" id="action1" onclick="firstaction()">Match it!</button>
  <!--  <button class = "btn" style="position: absolute; right: 190px;" onclick="phase2_func()" id="1234">debug</button>-->
<a  href="/static/polls/images/ticket_usa.png" data-lightbox="image-1" data-title="Congratulation !!! You won a free ticket"><img id="1209" style="visibility:hidden;" src="{% static 'polls/images/ht34df68.jpg' %}"> </img></a> 

</div>
{% endblock %}